@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@700&family=Raleway:ital,wght@0,700;1,700&display=swap');
@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Poppins:300,400,500,700");

/* Colors and fonts */
body {
  background: rgba(208, 204, 208, 1);
  color: rgba(134, 22, 87, 1);
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 17px;
  background: linear-gradient(91deg, rgba(100,100,100,0.2) 0%, rgba(100,100,100,0.6) 100%),
  url("images/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
h1, h2 {
  font-family: 'Raleway', sans-serif;
}
h1 {
  color: rgba(64, 78, 77, 1);
  font-size: 24px;
  font-weight: 700;
  margin-top: 0px;
  font-family: 'Bitter', serif;
}
h2 {
  color: rgba(134, 22, 87, 1);
  font-size: 20px;
  font-weight: lighter;
  font-weight: 700;
  margin-top: 0px;
}

a {
  text-decoration: none;
  color: rgba(58, 124, 165, 1);
  font-weight: 600;
  font-size: 16px;
  display: inline-block;
}
a:hover {
  color: rgba(180, 67, 108, 1);
}

/* Custom design with class (99% of your design) */
.container {
  width: 700px;
  margin: 40px auto;
}
@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}

.card-white {
  background-color: rgb(240,240,240);
  padding: 40px;
  box-shadow: 0px 10px 30px rgba(0,0,0,0.4);
  border-radius: 8px;
  margin: 20px 0px;
  text-align: center;
}

.img-roundrec {
  border-radius: 8px;
}
.btn-gray {
  background-color: rgb(200, 200, 200);
  color: white;
  padding: 15px 20px;
  border-radius: 8px;
  margin-top: 8px;
}
.btn-gray:hover {
  background-color: rgba(134, 22, 87, 1);
  color: white;
}

.list-inline {
  list-style: none;
  padding-left: 0px;
}

.list-inline li {
  display: inline;
  padding: 10px;
}
.list-inline i {
  font-size: 50px;
  color: rgb(200, 200, 200);
}
.list-inline i:hover {
  color: rgba(134, 22, 87, 1);
}

